.nav-list {
    display: flex;
    color: white;
    padding-top: 66px;
    justify-content: space-between;
  }

  @media screen and (width < 768px) {
    .nav-list {
      display: none;
    } 

    .main_title {
      margin-top: 40vh;
    }
  }
  
  .nav-list__item a{
    font-size: clamp(18px, calc(18px + (36 - 18) * (100vw - 768px)/(1920 - 768)), 36px);
  }