*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}
a {
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: underline;
}
ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow-y: auto;
  padding: 0 20px;
}

.main {
  background-image: url(./images/image.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

.main_title {
  text-align: center;
  font-size: clamp(36px, calc(36px + (96 - 36) * (100vw - 768px)/(1920 - 768)), 96px);
  margin-top: 25vh;
  color: white;
}

.sub_title {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: clamp(18px, calc(18px + (36 - 18) * (100vw - 768px)/(1920 - 768)), 36px);
  color: white;
}

.section_title {
  padding: 35px 0;
  text-align: center;
  font-size: clamp(48px, calc(48px + (64 - 48) * (100vw - 768px)/(1920 - 768)), 64px);
  font-weight: normal;
}

